<!DOCTYPE html>
{% load static %}
<html>

<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans py-10">

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 px-6 max-w-7xl mx-auto">

    <!-- ADMIN Card -->
    <div class="bg-white rounded-xl overflow-hidden flex flex-col max-w-sm mx-auto transform transition duration-300 hover:scale-105 hover:shadow-2xl shadow-2xl">
      <div class="overflow-hidden">
        <img src="{% static 'images/admin.png' %}" alt="Admin"
          class="h-80 w-full object-cover transform transition duration-500 hover:scale-110">
      </div>
      <div class="p-6 flex flex-col flex-grow text-center">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">ADMIN</h2>
        <a href="/admin"
          class="mt-auto inline-block bg-black text-white py-2 px-5 rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105 hover:shadow-lg">View</a>
      </div>
    </div>

    <!-- DOCTOR Card -->
    <div class="bg-white rounded-xl overflow-hidden flex flex-col max-w-sm mx-auto transform transition duration-300 hover:scale-105 hover:shadow-2xl shadow-2xl">
      <div class="overflow-hidden">
        <img src="{% static 'images/doctor.png' %}" alt="Doctor"
          class="h-80 w-full object-cover transform transition duration-500 hover:scale-110">
      </div>
      <div class="p-6 flex flex-col flex-grow text-center">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">DOCTOR</h2>
        <a href="/doctorclick"
          class="mt-auto inline-block bg-black text-white py-2 px-5 rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105 hover:shadow-lg">View</a>
      </div>
    </div>

    <!-- PATIENT Card -->
    <div class="bg-white rounded-xl overflow-hidden flex flex-col max-w-sm mx-auto transform transition duration-300 hover:scale-105 hover:shadow-2xl shadow-2xl">
      <div class="overflow-hidden">
        <img src="{% static 'images/patient.jpg' %}" alt="Patient"
          class="h-80 w-full object-cover transform transition duration-500 hover:scale-110">
      </div>
      <div class="p-6 flex flex-col flex-grow text-center">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">PATIENT</h2>
        <a href="/patientclick"
          class="mt-auto inline-block bg-black text-white py-2 px-5 rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105 hover:shadow-lg">View</a>
      </div>
    </div>

  </div>

</body>

</html>